<!doctype html>
<html class="no-js" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Корзина || Грядка</title>
    <meta name="description" content="Default Description">
    <meta name="keywords" content="E-commerce" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/icon/favicon.png">
    <!-- Google Font css -->
    <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet"> 

      <!-- mobile menu css -->
        <%= stylesheet_link_tag 'meanmenu.min.css' %>
        <!-- animate css -->
        <%= stylesheet_link_tag 'animate.css' %>
        <!-- nivo slider css -->
        <%= stylesheet_link_tag 'nivo-slider.css' %>
        <!-- owl carousel css -->
        <%= stylesheet_link_tag 'owl.carousel.min.css' %>
        <!-- slick css -->
        <%= stylesheet_link_tag 'slick.css' %>
        <!-- price slider css -->
        <%= stylesheet_link_tag 'jquery-ui.min.css' %>
        <!-- fontawesome css -->
        <%= stylesheet_link_tag 'font-awesome.min.css' %>
        <!-- fancybox css -->
        <%= stylesheet_link_tag 'jquery.fancybox.css' %>     
        <!-- bootstrap css -->
        <%= stylesheet_link_tag 'bootstrap.min.css' %>
        <!-- default css  -->
        <%= stylesheet_link_tag 'default.css' %>
        <!-- style css -->
        <%= stylesheet_link_tag 'style.css' %>
        <!-- responsive css -->
        <%= stylesheet_link_tag 'responsive.css' %>

        <!-- modernizr js -->
          <%= javascript_include_tag('vendor/modernizr-2.8.3.min.js') %>
</head>

<body>
    <!-- Wrapper Start -->
    <div class="wrapper">
         <!-- Header Area Start -->
           <header>
               <!-- Header Top Start -->
               <div class="header-top">
                   <div class="container">
                       <div class="row">
                           <!-- Header Top left Start -->                        
                           <div class="col-lg-4 col-md-12 d-center">
                               <div class="header-top-left">
                                   <%= image_tag "icon/call.png" %>Позвоните нам: +79094191479
                               </div>                        
                           </div>
                           <!-- Header Top left End -->
                                   <!-- Search Box Start -->
                                     <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                                       <div class="search-box-view">
                                         <%= form_tag('/shop.html') do -%>
                                           <input type="text" class="email" placeholder="Поиск продукта" name="product">
                                           <button type="submit" class="submit"></button>
                                         <% end -%>
                                       </div>
                                     </div>
                                     <!-- Search Box End -->
                                     <!-- Header Top Right Start -->
                                     <div class="col-lg-4 col-md-12">
                                       <div class="header-top-right">
                                         <ul class="header-list-menu f-right">
                                           <!-- Language Start -->
                                           <li><a href="#">Язык: Русский <i class="fa fa-angle-down"></i></a>
                                           </li>
                                           <!-- Language End -->
                                           <!-- Currency Start -->
                                           <li><a href="#">Валюта:  RUB <i class="fa fa-angle-down"></i></a>

                                           </li>
                                           <!-- Currency End -->
                                   </ul>
                                   <!-- Header-list-menu End -->
                               </div>
                           </div>
                           <!-- Header Top Right End -->
                       </div>
                   </div>
                   <!-- Container End -->
               </div>
               <!-- Header Top End -->
               <!-- Header Bottom Start -->
               <div class="header-bottom header-sticky">
                   <div class="container">
                       <div class="row">
                           <div class="col-xl-3 col-lg-2 col-sm-5 col-5">
                               <div class="logo">
                                   <a href="index.html"><%= image_tag "logo/logo.png" %></a>
                               </div>
                           </div>
                           <!-- Primary Vertical-Menu End -->
                                   <!-- Search Box Start -->
                                     <div class="col-xl-6 col-lg-7 d-none d-lg-block">
                                       <div class="middle-menu pull-right">
                                         <nav>
                                           <ul class="middle-menu-list">

                                             <li><a href="about.html">О нас</a></li>
                                             <li><a href="shop.html">Магазин v</a>
                                               <!-- Home Version Dropdown Start -->
                                               <ul class="ht-dropdown dropdown-style-two">
                                                 <li><a href="cart.html">Корзина</a></li>
                                                 <li><a href="checkout.html">Страница проверки</a></li>
                                               </ul>
                                               <!-- Home Version Dropdown End -->
                                             </li>
                                           </ul>
                                         </nav>
                                       </div>
                                     </div>
                                     <!-- Search Box End -->
                           <!-- Cartt Box Start -->
                           <div class="col-lg-3 col-sm-7 col-7">
                               <div class="cart-box text-right">
                                   <ul>
                                       <li>Корзина <a href="#"><i class="fa fa-shopping-basket"></i><span class="cart-counter"><%= @cart.order_lines.count %></span></a>
                                             <ul class="ht-dropdown main-cart-box">
                                                 <li>
                                                 <% @cart.order_lines.each do |cart_item| %>
                                                     <!-- Cart Box Start -->
                                                     <div class="single-cart-box">
                                                         <div class="cart-content">
                                                             <h6><a href="product.html"><%= @products.find(cart_item.product_id).name %></a></h6>
                                                             <span><%= @products.find(cart_item.product_id).price %> руб.</span>
                                                         </div>
                                                        <%= button_to 'x', remove_from_cart_path(cart_item.product_id), method: :post %>
                                                     </div>
                                                     <!-- Cart Box End -->
                                                    <% end %>
                                                  <!-- Cart Footer Inner Start -->
                                                       <div class="cart-actions">
                                                           <a class="checkout" href="cart.html">В корзину</a>
                                                       </div>
                                                   <!-- Cart Footer Inner End -->
                                               </li>
                                           </ul>
                                       </li>
                                   </ul>
                               </div>
                           </div>
                           <!-- Cartt Box End -->
                                           
                       </div>
                       <!-- Row End -->
                   </div>
                   <!-- Container

         End -->
               </div>
               <!-- Header Bottom End -->
           </header>
           <!-- Header Area End --> 
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area pt-60 pb-55 pt-sm-30 pb-sm-20">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Главная</a></li>
                        <li class="active"><a href="cart.html">Корзина</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Cart Main Area Start -->
        <div class="cart-main-area pb-80 pb-sm-50">
            <div class="container">
               <h2 class="text-capitalize sub-heading">корзина</h2>
                <div class="row">
                    <div class="col-md-12">
                            <!-- Table Content Start -->
                            <div class="table-content table-responsive mb-50">
                               <%= form_tag('count_cost') do -%>
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-name">Продукт</th>
                                            <th class="product-price">Цена</th>
                                            <th class="product-quantity">Количество (в кг)</th>
                                            <th class="product-remove">Удалить</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <% @cart.order_lines.each do |cart_item| %>
                                        <tr>
                                            <td class="product-name"><a href="#"><%= @products.find(cart_item.product_id).name %></a></td>
                                            <td class="product-price"><span class="amount"><%= @products.find(cart_item.product_id).price %></span></td>
                                            <td class="product-quantity">
                                              
                                                     <input type="number" name="<%= cart_item.product_id %>" value="<%= cart_item.quantity %>" /></td>                                                
                                            <td class="product-remove"> <%= button_to 'x', remove_from_cart_path(cart_item.product_id), method: :post %></td>
                                        </tr>
                                      <% end %>
                                    </tbody>
                                </table>
                                                <!-- Cart Button Start -->
                                                  <div class="col-lg-8 col-md-7">
                                                      <div class="buttons-cart">
                                                           <%= submit_tag 'Сохранить изменения' %>
                                                      </div>
                                                  </div>
                                                  <!-- Cart Button Start -->
                                                   <% end -%>
                       
                            </div>
                            <!-- Table Content End -->
                            <div class="row">
                                <!-- Cart Button Start -->
                                  <div class="col-lg-8 col-md-7">
                                      <div class="buttons-cart">
                                          <a href="remove_all_from_cart">Удалить всё</a>
                                      </div>
                                  </div>
                                  <!-- Cart Button Start -->
                                <!-- Cart Totals Start -->
                                <div class="col-lg-4 col-md-12">
                                    <div class="cart_totals">
                                        <h2>Итог</h2>
                                        <br />
                                        <table>
                                            <tbody>
                                                <tr class="order-total">
                                                    <th>Стоимость</th>
                                                    <td>
                                                        <strong><span class="amount"><% cost = 0; @cart.order_lines.each do |cart_item| %>
                 <% cost = cost + @products.find(cart_item.product_id).price * cart_item.quantity %>                         <% end %>
                        <%= cost %></span></strong>
                                                  </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="wc-proceed-to-checkout">
                                            <a href="checkout.html">Переходите к оформлению заказа</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Cart Totals End -->
                            </div>
                            <!-- Row End -->
                    </div>
                </div>
                 <!-- Row End -->
            </div>
        </div>
        <!-- Cart Main Area End -->
        <!-- Brand Logo Start -->
        <div class="brand-area pb-60">
            <div class="container">
                <!-- Brand Banner Start -->
                <div class="brand-banner owl-carousel">
                    <div class="single-brand">
                        <a href="#"><%= image_tag "brand/1.png" %></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><%= image_tag "brand/2.png" %></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><%= image_tag "brand/3.png" %></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><%= image_tag "brand/4.png" %></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><%= image_tag "brand/5.png" %></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><%= image_tag "brand/1.png" %></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><%= image_tag "brand/2.png" %></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><%= image_tag "brand/3.png" %></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><%= image_tag "brand/4.png" %></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><%= image_tag "brand/5.png" %></a>
                    </div>
                </div>
                <!-- Brand Banner End -->                
            </div>
        </div>
        <!-- Brand Logo End -->

        
                      <footer class="off-white-bg">
                        <!-- Footer Top Start -->
                        <div class="footer-top pt-50 pb-60">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 mr-auto ml-auto">
                                        <div class="newsletter text-center">
                                            <div class="main-news-desc">
                                                 <div class="news-desc">
                                                     <h3>Внимание</h3>
                                                     <p>Наши новинки</p>
                                                 </div>
                                            </div>
                                            <div class="newsletter-box">
                                                <form action="#">
                                                    <input class="subscribe" placeholder="Введите ваш email" name="email" id="subscribe" type="text">
                                                    <button type="submit" class="submit">Подписаться</button>
                                                </form>
                                            </div>
                                         </div>                            
                                    </div>
                                </div>                    
                                <div class="row">
                                    <!-- Single Footer Start -->
                                    <div class="col-lg-4  col-md-7 col-sm-6">
                                        <div class="single-footer">
                                            <h3>Связаться с нами</h3>
                                            <div class="footer-content">
                                                <div class="loc-address">
                                                    <span><i class="fa fa-map-marker"></i>Мясниковский р-н, с. Крым, ул. 8-я линия, 52</span>
                                                    <span><i class="fa fa-envelope-o"></i>email : asvatur@mail.ru</span>
                                                    <span><i class="fa fa-phone"></i>Тел: +79094191479</span>
                                                </div>
                                                <div class="payment-mth"><a href="#"><%= image_tag "footer/1.png" %></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Footer Start -->
                                    <!-- Single Footer Start -->
                                    <div class="col-lg-2  col-md-5 col-sm-6 footer-full">
                                        <div class="single-footer">
                                            <h3 class="footer-title">Информация</h3>
                                            <div class="footer-content">
                                                <ul class="footer-list">
                                                    <li><a href="#">Карта сайта</a></li>
                                                    <li><a href="#">Спец. предложения</a></li>
                                                    <li><a href="#">Работа</a></li>
                                                    <li><a href="#">Информация о доставке</a></li>
                                                    <li><a href="#">История заказов</a></li>
                                                    <li><a href="#">Политика использования сайта</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Footer Start -->
                                    <!-- Single Footer Start -->
                                    <div class="col-lg-2  col-md-4 col-md-4 col-sm-6 footer-full">
                                        <div class="single-footer">
                                            <h3 class="footer-title">Мой профиль</h3>
                                            <div class="footer-content">
                                                <ul class="footer-list">
                                                    <li><a href="account.html">Мой профиль</a></li>
                                                    <li><a href="#">Проверить</a></li>
                                                    <li><a href="#">Войти</a></li>
                                                    <li><a href="#">адрес</a></li>
                                                    <li><a href="#">Статус заказа</a></li>
                                                    <li><a href="#">Карта сайта</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Footer Start -->
                                    <!-- Single Footer Start -->
                                    <div class="col-lg-2 col-md-4 col-sm-6 footer-full">
                                        <div class="single-footer">
                                            <h3 class="footer-title">Сервис пользователей</h3>
                                            <div class="footer-content">
                                                <ul class="footer-list">
                                                    <li><a href="account.html">Мой профиль</a></li>
                                                    <li><a href="#">Новое</a></li>
                                                    <li><a href="#">Купоны на подарки</a></li>
                                                    <li><a href="#">Политика возврата</a></li>
                                                    <li><a href="#">Ваши заказы</a></li>
                                                    <li><a href="#">Почта</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Footer Start -->
                                    <!-- Single Footer Start -->
                                    <div class="col-lg-2 col-md-4 col-sm-6 footer-full">
                                        <div class="single-footer">
                                            <h3 class="footer-title">Позвольте нам помочь Вам</h3>
                                            <div class="footer-content">
                                                <ul class="footer-list">
                                                    <li><a href="#">Ваш профиль</a></li>
                                                    <li><a href="#">Ваши заказы</a></li>


                      <li><a href="#">Доставка</a></li>
                                                    <li><a href="#">Основной</a></li>
                                                    <li><a href="#">Замена</a></li>
                                                    <li><a href="#">Управление </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Footer Start -->
                                </div>
                                <!-- Row End -->
                            </div>
                            <!-- Container End -->
                        </div>
                        <!-- Footer Top End -->
                        <!-- Footer Bottom Start -->
                        <div class="footer-bottom off-white-bg2">
                            <div class="container">
                                <div class="footer-bottom-content">
                                    <p class="copy-right-text">Авторское право © <a  href="#">Грядка</a> Все права защищены.</p>
                                    <div class="footer-social-content">
                                        <ul class="social-content-list">
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-wifi"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Container End -->
                        </div>
                        <!-- Footer Bottom End -->
                      </footer>
                      <!-- Footer End -->
    </div>
                                  <!-- Wrapper End -->
                                    <!-- jquery 3.12.4 -->
                                    <%= javascript_include_tag('vendor/jquery-1.12.4.min.js') %>
                                    <!-- mobile menu js  -->
                                    <%= javascript_include_tag('jquery.meanmenu.min.js') %>
                                    <!-- scroll-up js -->
                                    <%= javascript_include_tag('jquery.scrollUp.js') %>
                                    <!-- owl-carousel js -->
                                    <%= javascript_include_tag('owl.carousel.min.js') %>
                                    <!-- slick js -->
                                    <%= javascript_include_tag('slick.min.js') %>
                                    <!-- wow js -->
                                    <%= javascript_include_tag('wow.min.js') %>
                                    <!-- price slider js -->
                                    <%= javascript_include_tag('jquery-ui.min.js') %>
                                    <%= javascript_include_tag('jquery.countdown.min.js') %>
                                    <!-- nivo slider js -->
                                    <%= javascript_include_tag('jquery.nivo.slider.js') %>
                                    <!-- fancybox js -->
                                    <%= javascript_include_tag('jquery.fancybox.min.js') %>
                                    <!-- bootstrap -->
                                    <%= javascript_include_tag('bootstrap.min.js') %>
                                    <!-- popper -->
                                    <%= javascript_include_tag('popper.js') %>
                                    <!-- plugins -->
                                    <%= javascript_include_tag('plugins.js') %>
                                    <!-- main js -->
                                    <%= javascript_include_tag('main.js') %>
</body>

</html>